.container{
    display: flex;
    padding: 20px;
}

.table__container{
    flex: 2;
    padding: 0px 20px;
}

.cart__total{
    flex: 1;
}

.table{
    width: 100%;
}
.tr{
    padding: 10px 0px;
    font-size: 20px;
    font-weight: 600;
}

.total{
    font-weight: 500;
    font-size: 18px;
}

.wrapper{
    width: 90%;
    min-height: 200px;
    background-color: #333;
    padding:50px ;
    display:flex ;
    flex-direction:column;
    justify-content: space-between;
    color:white;

}
.total__text__title{
    margin-right: 10px;

}

.checkout{
    height: 30px;
    color: #d1411e;
    font-weight: bold;
    cursor: pointer;
    margin-top: 20px;
}

@media screen and (max-width:480px) {
    .container{
        flex-direction: column;
    }

    .wrapper{
        width: 100%;
    }
}