.pizza__container{
    width: 22%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px 40px;
    transition: 0.5s all  ease-in-out;
}

.pizza__container:hover{
 background-color:#f1411e20 ;
 border-radius: 10px;

}

.title{
    font-size: 18px;
    font-weight: bold;
    color: #f1411e;
}

.price{
    font-size: 18px;
    font-weight: bold;
    color: #666;
}

.description{
    text-align: center;
    color: #777;
}


@media screen and (max-width:480px) {
    .pizza__container{
        width: 100%;
    }

    .title{
        font-size: 24px;
    }

    .price{
       font-size: 24px ;
    }
    .description{
        font-size: 18px;
    }
}
@media screen and (max-width:800px) {
    .pizza__container{
        width: 50%;
    }

    .title{
        font-size: 24px;
    }

    .price{
       font-size: 24px ;
    }
    .description{
        font-size: 18px;
    }
}